/* Stili base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

main {
    background-color: #f9f9f9; /* Assicurati che la sezione principale abbia lo stesso colore */
}

header {
    background-color: #4a4a4a; /* Grigio professionale */
    color: #ffffff;
    padding: 1em 0;
    text-align: center;
}

.header-container {
    display: flex;
    flex-direction: column; /* Posiziona il logo sopra il titolo */
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Distanza dal bordo superiore */
}

.logo {
    height: 20px; /* Altezza del logo a 20px */
    width: auto; /* La larghezza si adatta automaticamente mantenendo il rapporto di aspetto */
}

h1 {
    font-size: 1.8em;
    margin: 0;
    margin-top: 10px; /* Distanza tra il logo e il titolo */
}

/* Contenitore delle schede */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1em;
    padding: 1em;
    max-width: 600px;
    margin: auto;
}

/* Stile delle schede */
.card {
    text-decoration: none;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card img {
    width: 40px;
    height: 40px;
    margin-bottom: 0.5em;
}

.card span {
    font-size: 0.9em;
    color: #333;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Adattabilità */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }
    .card-container {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}
